.Uber-button {
  background-color: black;
  color: white;
  border: none;
  width: 120px;
  height: 40px;
  cursor: pointer;
}
.Amazon-button {
  background-color: rgb(255, 220, 43);
  color: black;
  border-radius: 40px;
  height: 40px;
  width: 160px;
  border-style: none;
  font-size: 15px;
  margin-left: 5px;
  cursor: pointer;
}
.Github-button {
  background-color: rgb(46, 164, 79);
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  height: 40px;
  width: 100px;
  border-style: 14px;
  margin-left: 5px;
  font-weight: bold;
  box-shadow: 10px 10px 10px rgba(104, 67, 67);
  cursor: pointer;
}

.amazon-link {
  color: rgb(0, 113, 133);
  font-size: 20px;
}
.title {
  font-size: 35px;
  font-weight: bold;
}
.price {
  color: rgb(0, 118, 0);
  font-weight: bold;
  font-size: 22px;
}
.free {
  font-size: 22px;
}
.add-to-cart-button {
  font-size: 19px;
  background-color: rgb(255, 216, 20);
  border-radius: 40px;
  height: 40px;
  width: 140px;
  border-style: none;
}
.buy-now-button {
  font-size: 19px;
  background-color: rgb(255, 164, 28);
  border-radius: 40px;
  height: 40px;
  width: 140px;
  border-style: none;
}
